.container {
  width: 90%;
  margin: auto;
  max-width: 1440px;
  overflow: hidden;
}

.x__large {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.2;
}

.large {
  font-size: 3rem;
  font-weight: 400;
}

.m-large {
  font-size: 2rem;
}

.small {
  font-size: 1.9rem;
}

.x-small {
  font-size: 1.6rem;
  font-weight: 300;
}

%btn-shared {
  border: none;
  outline: none;
  display: inline-block;
  padding: 1.3rem 2.8rem;
  font-size: 1.6rem;
  color: $white;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.btn {
  &__header {
    @extend %btn-shared;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));

    &:hover {
      background: linear-gradient(to right, hsl(136, 75%, 63%), hsl(192, 70%, 59%));
    }
  }

  &__showcase {
    @extend %btn-shared;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 1.1rem 2.6rem;
    margin-top: 1rem;


    &:hover {
      background: linear-gradient(to right, hsl(136, 75%, 63%), hsl(192, 70%, 59%));
    }
  }

  &__footer {
    @extend %btn-shared;
    display: block;
    width: 70%;
    margin: 1.5rem auto;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: .7rem 2.5rem;
    margin-top: 1rem;


    &:hover {
      background: linear-gradient(to right, hsl(136, 75%, 63%), hsl(192, 70%, 59%));
    }
  }
}